.stext-114 {
    font-family: Poppins-Italic;
    font-size: 15px;
    line-height: 1.666667;
}
.how-bor2::before {
    bottom: -21px;
    right: -21px;
  }
  .service-block-inner {
    padding: 15px 20px;
    position: relative;
    margin-bottom: 30px;
}
.service-block-inner::before {
    content: "";
    width: 100%;
    height: 5px;
    border-radius: 0px;
    background: #000000;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease 0s;
}
.service-block-inner::after {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 0px;
    background: orange;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s ease 0s;
}
.service-block-inner h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}
.service-block-inner p {
    margin: 0px;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 0px;
}
.service-block-inner:hover::after {
    height: 100%;
}

.service-block-inner:hover h3{
   color: #ffffff;
   transition: all 0.5s ease 0s;
}

.service-block-inner:hover p{
   color: #ffffff;
   transition: all 0.5s ease 0s;
}

.our-team{
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease 0s;
}
  
  
  